.Header {
  user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header h3 {
  text-align: center;
  margin: 5px 0px 15px 0px;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(175, 246, 246, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.488);
  width: 90vw;
}
h3:hover {
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
}

.Header .location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Header div input {
  text-align: center;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 0 3px 3px rgba(226, 226, 226, 0.4);
}
.Header button {
  background-color: #9af99a;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 0 3px 3px rgba(226, 226, 226, 0.4);
}
.Header button:hover {
  background-color: #46ff46;
  box-shadow: 0 0 6px 1px rgb(0, 0, 0, 0.4);
}
